xcuserdata/
*.xccheckout
*.xcscmblueprint

build/
DerivedData/

*.moved-aside

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

**/xcshareddata/WorkspaceSettings.xcsettings

/*.gcno

.env
